<main class="flex-container bg-white mt-4" *ngIf="auth.isAuthenticated()">
    <aside>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <right-panel class="right-panel" [user]="user" data-target="#sideNav">
        </right-panel>
    </aside>
    <section class="col holder">
        <div class="container head-line">
            <div class="row left">    
                <button class="mr-3 btn btn-success" (click)="usePreferenceToFilter()" >Use Preference</button>
            </div>
            <div class="row right ">
                <form id = "searchForm" (ngSubmit) = "searchSession(searchTerm)" class="form-inline">
                    <div class="form-group">
                        <input class="form-control" name="searchTerm" [(ngModel)]="searchTerm" type="text" placeholder="Search Username..." />
                        <button class="btn btn-primary" type="submit" modal-trigger="searchBlock">Search</button> 
                    </div>
                </form>
                <simple-modal elementId="searchBlock" class="modalContainer">
                    <h6>MATCHING RESULT</h6>
                    <div class="container" *ngFor = "let found of foundSearch">
                        <div class="text-cyan" [routerLink]="['/soul-connect/users',found?.username]" data-dismiss="modal" >{{found?.username}}</div>
                        <span *ngIf="foundSearch.length == 1">No such title here</span>
                    </div>
                </simple-modal>
            </div>
        </div>
        <div *ngFor="let user of filterUsers">
            <div class="content-two" [@fadeInOut]>
                    <div class="card shadow">
                        <div class="user-info">
                            <img src="/assets/images/profile1.png" alt="img" class="col-md-6 logo shadow">
                            <div class="user-sig col-md-6">
                                <span class="username"><strong>{{user?.username | uppercase}}</strong></span><br/>
                                <span class="title">Occupation: {{user.workStatus?.occupation}}</span><br/>
                                <span>Age: {{user?.age}}</span><br/>
                                <span>Status: {{user?.rStatus}}</span><br/>
                            </div>
                        </div>
                        <div class="bg-dark text-center">
                            <span class="text-light" [routerLink] = "['/soul-connect/users',user?.username]"><a class="btn btn-success">More Details</a></span>
                            <favorite (like)="toggleFavorite(user)" [liked]="userHasLiked(user)"></favorite>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <aside class="dontShow">
        <left-panel></left-panel>
    </aside>
</main>
<unauthorized *ngIf="!auth.isAuthenticated()"></unauthorized>