			<header>
				<nav class="navbar navbar-expand-lg navbar-dark">
          <div class="navbar-brand">
            <a (click)="toHomeOrDetailsPage()"> <img src="/assets/images/SCavatar.png" class="sc-logo" alt="SoulConnect" /></a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>					
                    <div class="collapse navbar-collapse navlinksstyle"  id="navbarSupportedContent">
						<ul class ="navbar-nav mr-auto">
							<li class="nav-item dontShow" *ngIf="auth.isAuthenticated()">
								<a class="nav-link text-light" (click)="myFanciesPage()"><strong>Fancies</strong></a>
							</li>
							<li class="nav-item" *ngIf="auth.isAuthenticated()">
								<a class="nav-link text-light" (click)="comingSoon()"><strong>Inbox</strong></a>
							</li>
						</ul>
						<ul class ="navbar-nav pl-4">
							<li class="nav-item" *ngIf="!auth.isAuthenticated()">
								<a class="nav-link text-light" modal-trigger="loginBlock"><strong>Login</strong></a>
							</li>
							<li class="nav-item" *ngIf="auth.isAuthenticated()">
								<a class="nav-link text-light" (click)="logout()" ><strong>Logout</strong></a>
							</li>	
						</ul>
                    </div>
				</nav>
			</header>
				<simple-modal elementId="loginBlock" class="modalContainer">
					<form [formGroup]="loginForm" autocomplete="off">
						<div class="form-group">
							<i class="fa fa-user"></i>
							<input class="form-control" formControlName="userName" type='text' placeholder="Username..." />
						</div>
						<div class="form-group">
							<i class="fa fa-password"></i>
							<input formControlName="password" class="form-control col-md-2" type='password' class="form-control" placeholder="Password..." />
						</div>
						<button (click)="loginUser(loginForm.value)" class="btn btn-primary shadow comment-one" data-dismiss="modal" type="submit">Login</button>
						<button class="btn btn-default shadow comment-two" type="button" data-dismiss="modal">Cancel</button>
					</form>
					<span class="bg-dark empty-span"></span>
				</simple-modal>