<div class="form-group">
    <button type="button" class="btn btn-fb" (click)='comingSoon()'><i class= "fa fa-facebook"></i> Facebook sign up</button>
    <button type="button" class="btn btn-gg" (click)='comingSoon()'><i class="fa fa-google"></i> Google Sign up</button>
</div>
<form [formGroup]="loginForm" (ngSubmit)="saveUser(loginForm.value)">

    <div class="form-group">
    <label for="preference">I'm a <i class="fa fa-venus-mars"></i>:</label>
    <em *ngIf="loginForm.controls.gender?.invalid && loginForm.controls.gender?.touched">Required</em>
    <br/>
    <select class="form-control" formControlName = "gender" class="preference" required> 
        <option value="" selected>Gender and preference</option>
        <option value="male">Man, interested in Women</option>
        <option value="female">Woman,interested in Men</option>
    </select>
    </div>
    
    <div class="form-group" [ngClass]="{'error': (loginForm.controls.dob?.invalid && loginForm.controls.dob?.touched)}">
        <label for="">Birthday <i class="fas fa-calendar-minus"></i>:</label>
        <em *ngIf="loginForm.controls.dob?.invalid && loginForm.controls.dob?.touched">Required</em>
        <ejs-datepicker id="calendar" formControlName = "dob" [value]='value' [min]='minDate' placeholder="mm/dd/yyyy"></ejs-datepicker>
    </div> 

    <div class="form-group" [ngClass]="{'error': (loginForm.controls.email.invalid && loginForm.controls.email?.touched)}">
        <label for="email">Email Address</label>
        <em *ngIf="loginForm.controls.email?.invalid && loginForm.controls.email?.touched">Required</em>
        <br/>
        <input name="email" type="text" formControlName="email" placeholder="john@example.com" id="email" required />
    </div>

    <div class="form-group" [ngClass]="{'error': (loginForm.controls.username?.invalid && loginForm.controls.username?.touched)}">
        <label for="username">Username</label>
        <em *ngIf="loginForm.controls.username?.invalid && loginForm.controls.username?.touched">Required</em>
        <br/>
        <input name="username" type="text" formControlName="username" placeholder="Username" id="username" required />
    </div>

    <div class="form-group" [ngClass]="{'error': (loginForm.controls.password?.invalid && loginForm.controls.password?.touched)}">
        <label for="password">Password</label>
        <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">Cannot be less than eight characters</em>
        <br/>
        <input name="password" type="password" formControlName="password" placeholder="password" id="password" required />
    </div>

    <div class="form-group" [ngClass]="{'error': (loginForm.controls.confirmPassword?.invalid && loginForm.controls.confirmPassword?.touched)}">
        <label for="confirmPassword">Confirm password</label>
        <em *ngIf="loginForm.controls.confirmPassword?.invalid && loginForm.controls.confirmPassword?.touched">Must be the same as "Password"</em>
        <br/>
        <input name="confirmPassword" type="password" formControlName="confirmPassword" placeholder="confirm password" id="cpassword" required />
    </div>    

    <div class="form-group">
        <div class="flex-container">
            <div [ngClass]="{'error': (loginForm.controls.day?.invalid && loginForm.controls.firstname?.touched)}"> 
                <label for="firstname">Firstname:</label>
                <em *ngIf="loginForm.controls.firstname?.invalid && loginForm.controls.firstname?.touched">Required</em>
                <input type="text" maxLength="20" class="form-control" formControlName = "firstname" placeholder="firstname" id="day" required />
            </div>
            <div [ngClass]="{'error': (loginForm.controls.lastname?.invalid && loginForm.controls.lastname?.touched)}"> 
                <label for="lastname">Lastname:</label>
                <em *ngIf="loginForm.controls.lastname?.invalid && loginForm.controls.lastname?.touched">Required</em>
                <input type="text" maxLength="20" class="form-control" formControlName = "lastname" placeholder="lastname" required />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-submit">Sign Up</button>
</form>