
.content{
	color: #fff;	
	padding-top:20px;
	background-color: #09095ea2;
}
.left-content{
	font-size: 40px;
	font-weight: none;
	margin-right: 200px;
}

.flex-container{
	display: flex;
	flex-flow: row wrap;	
	justify-content: center;
}
@media only screen and (max-width: 600px) {
	.left-content{
		font-size: 28px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.right-content{
		margin-top: 20px;
	}
}
@media only screen and (max-width: 900px) {
	.left-content{
	font-size: 35px;		
	}
	.right-content{
		margin: 20px;		
	}
}

@media only screen and (max-width: 1300px) {
	.left-content{ margin-right: 100px;
	}
	.right-content{
		margin: 20px;
	}
}
@media only screen and (max-width: 1240px) {
	.left-content{ margin-right: 80px;
	}
	.right-content{
		margin: 20px;
	}
}