.container {
    padding-top: 30px;
}
.liner{
    padding: 0 15px 0 15px;
}
.btn{
    border-radius: 0%;
    color: #f1f1f1;
}
.general-btn{
    border-bottom: 2px solid #fff;
}
.cardboard{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
    min-height: 550px;
    background-image: url('/assets/images/chat-bg.jpg');
    background-size: cover;
    padding: 30px;
    font-family: cursive;
}
.chat-box{
    background-color: azure;
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 5px;
}
.sender-box{
    bottom: 10px;
    margin-top: 2px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 27);
}
input[type='text'] {
    font-family: sans-serif;
    height: 38px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.small-size{
    font-size: 12px;
    opacity: 0.5;
    font-family: monospace;
}
.timeStampStyle{
    float: right;
    position: relative;
    top: 15px;
}